<div
  class="navbar bg-[--mainColor] h-[60px] flex justify-center items-center px-3"
>
  <div class="part1" appFlexCenter>
    <div class="logo flex items-center font-bold text-[18px]">
      <img class="w-[30px]" src="/images/noon_logo.png" alt="noon logo" />
      <span class="text-[24px] text-[#383a41]">noon</span>
    </div>
    <div class="deliveryTo flex mx-5">
      <div class="flag flex items-center mx-2">
        <img class="w-[30px]" src="/images/egypt-flag.png" alt="" />
      </div>
      <div class="address">
        <div>
          <span class="mr-3 text-[#474b50]"> Deliver to</span>
          <i class="fa-solid fa-angle-down"></i>
        </div>
        <div
          class="font-bold text-[13px] w-[178px] overflow-hidden line-clamp-1"
        >
          H77M+VX - El-Saf - Giza Governorate,Dahshour, Egypt
        </div>
      </div>
    </div>
  </div>
  <input
    class="flex-1 rounded px-3 py-2"
    type="text"
    name="searchInput"
    id="searchInput"
    required
    pattern="^[A-Za-z0-9\s]+$"
    placeholder="What are you looking for?"
  />
  <ul class="flex justify-center items-center gap-2">
    <li class="language px-3 custom-border-right">العربية</li>
    <li class="flex justify-center items-center custom-border-right">
      <div class="flex flex-col">
        <span class="px-3 text-[14px] text-[#404b41dc]">Ahlan Tarek!</span>
        <span class="font-semibold">My Account</span>
      </div>
      <div class="mr-2"><i class="fa-solid fa-caret-down"></i></div>
    </li>
    <li class="px-3 custom-border-right">
      <span class="text-[#242524dc] font-semibold mr-[5px]">Wishlist</span>
      <span class="text-[#242524dc] text-[19px]"
        ><i class="fa-regular fa-heart"></i
      ></span>
    </li>
    <li class="px-3">
      <span class="font-semibold mr-2 text-[17px]">Cart</span>
      <span class="relative text-xl">
        <i class="fa-solid fa-cart-shopping"></i>
        <span
          class="ordersQnt flex justify-center items-center bg-[#3d6be0] text-white p-[4px] rounded-full text-[12px] absolute top-[-12px] right-[-9px] w-[20px] h-[20px]"
          >2</span
        >
      </span>
    </li>
  </ul>
</div>
