/* You can add global styles to this file, and also import other style files */
:root {
  --mainColor: #feee00;
}
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #f7f7fa;
}

.subSlider2 .carousel-indicators {
  height: 17px;
  width: fit-content;
  margin: 0 auto;
}
.subSlider2 .carousel-indicators [data-bs-target] {
  width: 10px;
  background-color: #404553;
}

.productsSlider .carousel-indicators {
  width: fit-content;
  margin: -25px auto;
}
.productsSlider .carousel-indicators [data-bs-target] {
  width: 10px;
  background-color: #404553;
}
.productsSlider .carousel-control-prev {
  width: fit-content;
  height: auto;
  margin-left: 20px;
}
.productsSlider .carousel-control-prev-icon {
  background-color: rgb(143, 145, 143);
  padding: 25px;
  border-radius: 50%;
}
.productsSlider .carousel-control-next {
  width: fit-content;
  height: auto;
  margin-right: 20px;
}
.productsSlider .carousel-control-next-icon {
  background-color: rgb(143, 145, 143);
  padding: 25px;
  border-radius: 50%;
}
/* src/styles.scss */
.success-snackbar {
  background-color: #4caf50;
  color: white;
}

.error-snackbar {
  background-color: #f44336;
  color: white;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
