/* You can add global styles to this file, and also import other style files */
:root {
  --mainColor: #feee00;
}
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #f7f7fa;
}

.subSlider2 .carousel-indicators {
  height: 17px;
  width: fit-content;
  margin: 0 auto;
}
.subSlider2 .carousel-indicators [data-bs-target] {
  width: 10px;
  background-color: #404553;
}
