<div class="flex min-h-full flex-col justify-center px-6 py-12 lg:px-8">
  <div class="sm:mx-auto sm:w-full sm:max-w-sm">
    <img
      class="mx-auto h-10 w-auto"
      src="https://seeklogo.com/images/N/noon-com-logo-3D35F15324-seeklogo.com.png"
      alt="Your Company"
    />
    <h2
      class="mt-10 text-center text-2xl font-bold leading-9 tracking-tight text-gray-900"
    >
      Reset your password
    </h2>
  </div>
  @if (errorMsg) {
  <div
    class="text-white bg-danger text-center py-[5px] w-full lg:w-fit mx-auto my-2 p-2"
  >
    {{ errorMsg }}
  </div>
  }

  <div class="mt-10 sm:mx-auto sm:w-full sm:max-w-sm">
    @if(success){
    <div
      class="success bg-green-300 text-black text-center py-5 text-xl rounded"
    >
      <p>Reset Email was sent successfully 🎉</p>
      <p>Plese check your email</p>
    </div>
    }@else{
    <form class="space-y-6" #resetPasswordForm="ngForm">
      <div>
        <label
          for="email"
          class="block text-sm font-medium leading-6 text-gray-900"
          >Email address</label
        >
        <div class="mt-2">
          <input
            id="email"
            name="email"
            type="email"
            required
            pattern="^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$"
            [(ngModel)]="email"
            #emailInput="ngModel"
            placeholder="Enter your email address"
            class="p-2 block w-full rounded-md border-1 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"
            [ngClass]="{
              'bg-red-50 border border-red-500 text-red-900':
                (emailInput.touched || emailInput.dirty) && emailInput.invalid
            }"
          />
        </div>
        <span
          *ngIf="(emailInput.touched || emailInput.dirty) && emailInput.invalid"
        >
          <span *ngIf="emailInput.errors?.['required']" class="text-red-500"
            >Email is required.</span
          >
          <span *ngIf="emailInput.errors?.['pattern']" class="text-red-500"
            >Invalid email</span
          >
        </span>
      </div>

      <button
        type="submit"
        class="w-full text-black bg-[#fde047] hover:bg-[#fddf47d7] cursor-pointer focus:ring-4 focus:outline-none focus:ring-yellow-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-yellow-400 dark:hover:bg-yellow-500 dark:focus:ring-yellow-600"
        [disabled]="resetPasswordForm.invalid"
        (click)="sendResetEmail()"
      >
        Send Reset Email
      </button>
    </form>
    }
  </div>
</div>
